<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e_school">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:hardwareAccelerated="false"
        android:name="com.e_school.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Firebase Notifications -->
        <service android:name="fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <activity
            android:name="com.e_school.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.AttendenceActivity"
            android:label="@string/title_activity_attendence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.MonthCalendarActivity"
            android:label="@string/title_activity_attendence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name="com.e_school.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.e_school.ResultActivity"
            android:label="@string/title_activity_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.ExamActivity"
            android:label="@string/title_activity_exam"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.TeacherActivity"
            android:label="@string/title_activity_teacher"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.GrowthActivity"
            android:label="@string/title_activity_growth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.HolidaysActivity"
            android:label="@string/title_activity_holidays"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.NewsActivity"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.NoticeActivity"
            android:label="@string/title_activity_notice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.EnquiryActivity"
            android:label="@string/title_activity_enquiry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.ResultListActivity"
            android:label="@string/title_activity_result_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.TopStudentActivity"
            android:label="@string/title_activity_top_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.SchoolProfileActivity"
            android:label="@string/title_activity_school"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.TimetableActivity"
            android:label="@string/title_activity_time_table"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.e_school.Quiz_subjectActivity"
            android:label="@string/menu_quiz" />
        <activity android:name="com.e_school.Quiz_answerActivity" />
        <activity android:name="com.e_school.Quiz_resultActivity" />
        <activity
            android:name="com.e_school.FeesActivity"
            android:label="@string/menu_fees" />
        <activity
            android:name="com.e_school.BookActivity"
            android:label="@string/menu_book" />
        <activity android:name="com.e_school.ViewBookActivity" />
        <activity
            android:name="com.e_school.NotificationActivity"
            android:label="@string/menu_notification" />
        <activity
            android:name="com.e_school.Notification_detailActivity"
            android:label="@string/menu_notification" />
    </application>

</manifest>